.container-Home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.grid {
  display: grid;
  margin-left: 0.5px;
  /* 4개씩 */
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.2em;
  justify-content: center;
}
